In [ ]:
# find sum mean max of energy and popularity

r1=df.groupby('year')[['energy','popularity']].agg({'sum','min','max','mean'})
r1

In [3]:
import pandas as pd
import numpy as np

In [ ]:
# find mean median  variance and std deviation of length and beats per_minute based on year for year 
#2016 and onwards.
df_2016=df[df['year']>=2016]
df_2016.shape

In [ ]:
r2=df_2016.groupby('year')[['length','beats.per.minute']].agg(['mean','median','var','std'])
r2

In [ ]:
# find mean and max for popularity and energy mean and standard deviationforliveness and 
#acusticness based on year 2016 and onward
r3=df_2016.groupby('year').agg({'energy':['min','max'],'popularity':['min','max'],
                                'liveness':['mean','std'],'acousticness':['mean','std']})

In [ ]:
# find min and max for beats.per.minute and liveness,variance and standard deviation for energy and 
# dacebility base don top 10 genres
top10_gen=df['top genre'].value_counts()
top10_gen

In [ ]:
top10_gen=df['top genre'].value_counts()
top10_gen=top10_gen.sort_values(ascending=False).head(10)
top10_gen

In [ ]:
# for the artist post malone,ed sheeran and imagine dragons the weekend  amd the chainsmoker  display
#max of energy sum of legth mean of
#popularity mean of danceblity variance of beats.per.minute.rename the columns accordingly
artist_req=['post malone','ed sheeran','imagine dragons','the weeknd','the chainsmokers']
artist_req

In [ ]:
r5=df[df["artist"].isin(artist_req)].groupby('artist').agg(maxenergy=('energy','max'),
                                                          sumlength=('length','sum'),
                                                          meanpopularity=('popularity','mean'),
                                                          meandanceability=('danceability','mean'),
                                                          varbeatespermean=('beates.per.minute','var'))
r5

In [ ]:
#RANK FUNCTIONS

# rank top 10 genres based on their mean energy
top10_gen

In [ ]:
r6=df[df['top genre'].isin(tp10_gen.index)].groupby('top genre').agg(meanenergy=('energy','mean'))
r6

In [ ]:
r6['rank_asc']=r6['meanenergy'].rank(ascending=True)
r6['rank_desc']=r6['meanenergy'].rank(acending=False)
r6.sort_values(by='meanenergy')

In [ ]:
# rank top 10 artist based on their count of length
r7=df[df['top genre'].isin(top10_gen.index).groupby('top genre').agg(countlength=('length','count'))]
r7

In [ ]:
r7['rank_asc']=r7['countlength'].rank(ascending=True)
r7['Drank_asc']=r7['countlength'].rank(method='dense',ascending=True)
r7['rank_desc']=r7['countlength'].rank(ascending=False)
r7['drank_desc']=r7['countlength'].rank(method='dense',ascending=False)
r7

In [4]:
# sample example

data={'x':[100,101,102,101,103,105,107,107,105,99]}
w=pd.DataFrame(data)
w.head()

     x
0  100
1  101
2  102
3  101
4  103

In [7]:
w['rank_asc']=w['x'].rank(ascending=True)
w['rank_desc']=w['x'].rank(ascending=False)
w['drank_asc']=w['x'].rank(method='dense',ascending=True)
w['drank_desc']=w['x'].rank(method='dense',ascending=False)
w

     x  rank_asc  rank_desc  drank_asc  drank_desc
0  100       2.0        9.0        2.0         6.0
1  101       3.5        7.5        3.0         5.0
2  102       5.0        6.0        4.0         4.0
3  101       3.5        7.5        3.0         5.0
4  103       6.0        5.0        5.0         3.0
5  105       7.5        3.5        6.0         2.0
6  107       9.5        1.5        7.0         1.0
7  107       9.5        1.5        7.0         1.0
8  105       7.5        3.5        6.0         2.0
9   99       1.0       10.0        1.0         7.0

In [11]:
w['maxrank']=w['x'].rank(method='max')
w['minrank']=w['x'].rank(method='min')
w['meanrank']=w['x'].rank(method='average')
w

,x,rank_asc,rank_desc,drank_asc,drank_desc,maxrank,minpank,meanrank,minrank
0,100,2.0,9.0,2.0,6.0,2.0,2.0,2.0,2.0
1,101,3.5,7.5,3.0,5.0,4.0,3.0,3.5,3.0
2,102,5.0,6.0,4.0,4.0,5.0,5.0,5.0,5.0
3,101,3.5,7.5,3.0,5.0,4.0,3.0,3.5,3.0
4,103,6.0,5.0,5.0,3.0,6.0,6.0,6.0,6.0
5,105,7.5,3.5,6.0,2.0,8.0,7.0,7.5,7.0
6,107,9.5,1.5,7.0,1.0,10.0,9.0,9.5,9.0
7,107,9.5,1.5,7.0,1.0,10.0,9.0,9.5,9.0
8,105,7.5,3.5,6.0,2.0,8.0,7.0,7.5,7.0
9,99,1.0,10.0,1.0,7.0,1.0,1.0,1.0,1.0

In [12]:
w['maxrank_desc']=w['x'].rank(method='max',ascending=False)
w['minrank_desc']=w['x'].rank(method='min',ascending=False)
w

,x,rank_asc,rank_desc,drank_asc,drank_desc,maxrank,minpank,meanrank,minrank,maxrank_desc,minrank_desc
0,100,2.0,9.0,2.0,6.0,2.0,2.0,2.0,2.0,9.0,9.0
1,101,3.5,7.5,3.0,5.0,4.0,3.0,3.5,3.0,8.0,7.0
2,102,5.0,6.0,4.0,4.0,5.0,5.0,5.0,5.0,6.0,6.0
3,101,3.5,7.5,3.0,5.0,4.0,3.0,3.5,3.0,8.0,7.0
4,103,6.0,5.0,5.0,3.0,6.0,6.0,6.0,6.0,5.0,5.0
5,105,7.5,3.5,6.0,2.0,8.0,7.0,7.5,7.0,4.0,3.0
6,107,9.5,1.5,7.0,1.0,10.0,9.0,9.5,9.0,2.0,1.0
7,107,9.5,1.5,7.0,1.0,10.0,9.0,9.5,9.0,2.0,1.0
8,105,7.5,3.5,6.0,2.0,8.0,7.0,7.5,7.0,4.0,3.0
9,99,1.0,10.0,1.0,7.0,1.0,1.0,1.0,1.0,10.0,10.0